@import-normalize; /* bring in normalize.css styles */

/* rest of app styles */

.main {
    width: 100vw;
    height: 100vh;
    background: rgb(47,20,88);
    background: linear-gradient(36deg, rgba(47,20,88,1) 0%, rgba(17,3,62,1) 30%, rgba(0,212,255,1) 100%);
}
